.odd-app {
  font-family: 'Roboto', sans-serif;
}

.odd-graph, .odd-controls {
  display: inline-block;
  vertical-align: middle;
}

.odd-slider-control {
  width: 375px;
}

.odd-fixed-control {
  width: 375px;
  padding: 10px 0;
}

*:focus {
  outline: none;
}

.odd-slider-text-container {
  width: 40px;
  display: inline-block;
}

.odd-slider-container {
  width: 200px;
  display: inline-block;
}

.odd-fixed-control .odd-variable-value {
  margin-left: 25px;
}

.odd-variable-name {
  width: 50px;
  display: inline-block;
  text-overflow: ellipsis;
  text-align: right;
}

.odd-variable-unit {
  margin-left: 10px;
  width: 50px;
  display: inline-block;
  text-overflow: ellipsis;
}